@import "./tokens/primitives.css";
@import "./tokens/semantic.css";

:root {
  font: 18px / 145% var(--s-font-body);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--s-text);
  background: var(--s-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--s-border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--s-font-heading);
  font-weight: 500;
  color: var(--s-text-heading);
}

p {
  margin: 0;
}
