.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0 16px;
  flex-grow: 1;
}

.title {
  font-size: 32px;
  letter-spacing: -0.5px;
  margin: 0 16px 8px;

  @media (max-width: 1024px) {
    font-size: 28px;
    margin: 0 16px 4px;
  }
}
