:root {
  /* Gray */
  --p-gray-500: #6b6375;
  --p-gray-900: #08060d;

  /* Purple */
  --p-purple-600: #aa3bff;

  /* Red */
  --p-red-600: #dc2626;

  /* Indigo */
  --p-indigo-500: #6366f1;
  --p-indigo-600: #4f46e5;

  /* Neutral */
  --p-white: #fff;

  /* Fonts */
  --p-font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
}
